<h2>{{ collection.frontpage.title }}</h2>

{% for product in collections.frontpage.products %}
  <div>
    <a href="{{product.url}}">
      <img src="{{ product.featured_image | image_url }}" width="300px" height="auto">
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | money_with_currency }}</p>
    </a>
  </div>
  {{- product.title | link_to: product.url }}
{% endfor %}
